.app-title {
    background-color: rgb(1, 1, 99);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn {
    border: solid black;
}
.city-container {
    padding: 5px;
}

.heading {
    border: solid black 4px;
}

.high {
    color: red;
}

.moderate {
    color: orange;
}

.low {
    color: green;
}